/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  display: none;
}

.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  li {
    background: #efefef;
    border-radius: 12px;
    display: flex;
    cursor: pointer;
    a {
      display: flex;
      width: 100%;
      padding: 20px;
      color: #000;
      text-decoration: none;
      font-family: 'Kanit', sans-serif;
    }
  }
}
